.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.isDone {
  color: red;
  text-decoration: line-through;
}

.btn-active {
 background-color: brown; 
 color: aliceblue;
}

.error {
  border: 2px solid red;
  outline: none;
}